project:
  type: website
  resources:
    - "*.png"
    - "*.jpg"
    - "*.jpeg"
    - "*.gif"

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
    keep-md: true
    code-fold: show
    code-tools: true
    code-copy: true
    code-overflow: wrap
  commonmark: default

website:
  twitter-card: true
  open-graph: true
  repo-actions: [issue]
  navbar:
    background: primary
    search: true
    tools:
      - icon: github
        href: https://github.com/rhalldearn/ks3-computing-lessons
  sidebar:
    style: floating

metadata-files: [nbdev.yml, sidebar.yml]